body {
  font-family: "Zen Maru Gothic", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  color: black;
}

/*////////////////////////////  Header //////////////////////////// */

nav {
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
}
.logo {
  width: 120px;
  height: 70px;
  border-radius: 80%;
  margin-left: 50px;
  margin-right: 50px;
}
.navbar-nav a{
  margin-right: 20px;
  margin-left: 20px;
}
.nax {
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 18px;
  font-size: 20px;

  border-color: rgb(148, 153, 156);
  text-decoration: none;
  max-width: 135px;
}
.padding-left {
  padding-left: 10px;
}
nav select {
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
.selectForm{
  text-align: center;
  margin: 10px;
}
.navbar-nav a{
  text-align: center;
  margin-top: 5px;
}

/*////////////////////////////  Home  //////////////////////////// */

.welcome {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 83vh;
}
h1{
  text-align: center;
  padding: 20px;
  color: rgb(0, 0, 0);
}
h3 {
  font-size: 26px;
  color: #ffffff;
  padding-top: 15px;
  text-align: center;
}
.carrusel {
  margin: auto;
  border-radius: 10px;
  height: 62vh;
  width: 60%;
}

/*////////////////////////////  Products index //////////////////////////// */

.products {
  text-align: center;
  background-image: linear-gradient(
    to left,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  padding: 15px;
  padding-bottom: 30px;
}
.recomendaciones {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
section{
  background-image: linear-gradient(
    to left,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
}
.product {
  border-radius: 5px;
  padding: 5px;
  border-style: solid;
  background-color: white;
}
.product a{
  text-decoration: none;
}
.product img {
  height: 180px;
  width: 250px;
}
.product img:hover{
  cursor: pointer;
}
.product p {
  margin-bottom: 0px;
  font-size: 18px;
}

/*//////////////////////////// Footer  ////////////////////////////*/

footer {
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  text-align: center;
  font-size: 18px;
}
.footerFlex{
  display: flex;
  justify-content: center;
}
.footerFlex div{
  margin-left: 25px;
  margin-right: 25px;
}
footer p {
  color: white;
  margin: 0px;
  padding: 5px;
  padding-top: 10px;
}
footer img {
  width: 120px;
  height: 70px;
  margin: 10px;
  border-radius: 80%;
}
footer svg{
  padding: 0px;
  margin: 10px;
  width: 30px;
  height: 35px;
  fill: #0d6efd;
}
svg:hover{
  transform: scale(1.2);
  cursor: pointer;
}
footer a {
  text-decoration: none;
}
/*////////////////////////////  Contacto //////////////////////////// */

.form {
  text-align: start;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.comunication {
  color: white;
  text-align: center;
}
.white{
  color: white;
}
.comunication p {
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
}
.comunication svg {
  height: 60px;
  width: 110px;
  margin: 15px;
}
.form form{
  width: 380px;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  margin: auto;
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
}
.form label, input, textarea{
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.form label{
  color: white
}
.form .btn-success{
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form .btn-success:hover{
  background-color:#083984;
  border-color: #083984;
}
/*//////////////////////////// Register- Login //////////////////////////// */
.register{
  height: 90vh;
  width: 100%;
  display: flex;
  background-image: linear-gradient(
    to left,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  align-items: center;
  justify-content: center;
}
.marginAuto{
  margin: auto;
}
.register p{
  color: white;
  text-align: center;
}
.register h1{
  color: white;
}
.register form{
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  width: 420px;
  padding: 15px;
  border-radius: 5px;
}
.register label{
  color: white;
  padding: 5px;
  text-align: start;
}
.register div{
  margin: 5px;
}
.age{
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
}
.age input{
  width: 20px;
  height: 35px;
}
.buttonRegister{
  text-align: center;
}
.conditions{
  display: flex;
  justify-content: center;
}
.conditions input[type="checkbox"]{
  width: 20px;
  height: 30px;
  margin-left: 20px;
}
.register input[type="text"], input[type="email"], input[type="password"]{
  padding: 5px;
}
.register .btn-success{
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.register .btn-success:hover{
  background-color:#083984;
  border-color: #083984;
}


/*//////////////////////////// Productos Porductos.html ///////////////////////////// */

.sectionProduct {
  width: 100%;
  display: flex;
}
.sectionProduct svg{
  width: 20px;
  height: 25px;
  color: white;
}
.sectionProductProduct {
  width: 100%;
}
.productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.recomendacion {
  display: block;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  background-color: #ffffffdd;
}
.imagen-producto {
  width: 250px;
  height: 180px;
  border-radius: 5px;
}
.btn-favorito {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  color: white;
  background-color: #0d6efd;
  border: none;
}
.btn-favorito:hover{
  background-color: #083984;
}
.btn-favorito:active{
  position: relative;
  top: 3px;
}
.categorias {
  font-size: 22px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  width: 200px;
  height: 100%;
}
.categorias a,
h2 {
  color: white;
}
.categorias a {
  text-decoration: none;
  padding-top: 15px;
}
.x {
  padding: 7.5px;
}
.togleCategory {
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
}
.titleProduct {
  display: flex;
  color: white;
  background-image: linear-gradient(
    to left,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  align-items: center;
  padding: 10px;
}
.titleP {
  margin: 0 auto;
}
.titulo-producto{
  font-size: 22px;
  padding: 0px;
  padding-top: 8px;
  color: #000000;
}
#boton-carrito {
  min-width: 40px;
  height: 40px;
  border-radius: 25px;
  border-style: none;
  background-color: #0d6efd;
}
#boton-carrito:hover{
  background-color: #083984;
}
.listado-favoritos {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}
.Pfavoritos{
  background-color: #0d6efd;
}
.Pfavoritos p{
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding-top: 10px;
  font-weight: bold;
}
.modal-content hr{
  margin-top: 0px;
}
#comprar{
  background-color: #0d6efd;
  float: right;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
}
#comprar:hover{
  background-color: #083984;
}
#seccion-pago {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.modal-content{
  text-align: center;
}
p{
  color: black;
}
.subTitulos{
  padding-top: 10px;
}
.flex {
  display: flex;
}
.btn-borrar {
  border-radius: 5px;
  width: 50px;
  height: 30px;
  margin-left: 5px;
  margin-bottom: 0px;
}
.btn-borrar img {
  height: 30px;
  width: 20px;
  padding: 0px;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.padding {
  padding: 10px;
  justify-content: center;
}
#botones {
  border-radius: 5px;
  background-color: rgb(0, 255, 85);
  padding: 2px;
  width: 150px;
  float: right;
  margin: 10px;
}
.imgModal {
  height: 480px;
  width: 500px;
  padding: 15px;
}

@media (max-width: 970px) {
  .welcome {
    height: 85vh;
  }
  .carrusel {
    width: 90%;
  }
  .product {
    margin: 10px;
  }
  .footerFlex div{
    margin-left: 10px;
    margin-right: 10px;
  }
  .sectionProduct {
    display: block;
  }
  .x svg{
    transform: rotate(90deg);
  }
  .categorias {
    width: 100%;
  }
  .titleProduct {
    padding: 5px;
  }
  .form {
    text-align: start;
    height: 100%;
    padding-bottom: 20px;
    margin: auto;
  }
}   
